body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(18px + 0.05vw + 1vh);
}

.addBookBtn{
  width: 10vw;
  background-color: cornflowerblue;
  border: hidden;
  border-radius: calc(8px + 1vh + 0.01vw);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 1vh;
  /* width: ; */

  padding: 3vh 0;
}

.book{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

dialog {
  border-radius: calc(15px + 1vh + 0.05vw);
  background-color: beige;
  border-color: brown;
}

dialog div {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

dialog label {
  font-size: 1rem;
}

dialog input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-color: inherit;
}

dialog button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: bisque;
}

.removeBook {
  font-size: 1.2rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(1.1vw + 1vh);
  color: maroon;
  box-sizing: border-box;
  border: 0.2rem solid maroon;
  position: absolute;
  top: -50px;
  background-color: transparent;
}