body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(18px + 0.05vw + 1vh);
}

.addBookBtn{
  width: 10vw;
  background-color: cornflowerblue;
  border: hidden;
  border-radius: calc(8px + 1vh + 0.01vw);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 1vh;
  /* width: ; */
  
  padding: 3vh 0;
}

.book{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}